h1, h2, h3, h4, h5 {
  font-family: 'Nunito thin', Sans-serif;
}
p, span, a, button, div, section {
  font-family: 'Roboto', Sans-serif;
}

/* Ceci est le titre en haut de la page */
#page-title{
  font-size: 2rem;
  color: #ECF0F1;
  background-color: #E74C3C;
  text-align: center;
  padding: 1.2rem 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
#redbar_height_fix {
  height: 4.78rem;
}
@media screen and (min-width: 768px){
  #redbar_height_fix{
    height: 5.4rem;
  }
}
.logo {
  width: 3rem;
  position: absolute;
  top:20%;
  left:1rem;
}
.position, .formulaireAjout{
	margin-top:100px;
	position: relative;
}
.formulaireAjout h2{
	color: blue;
}
.correct {
	border-color: rgba(68, 191, 68, 0.75);
}

.correct:focus {
	border-color: rgba(68, 191, 68, 0.75);
	box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
}

.incorrect {
	border-color: rgba(191, 68, 68, 0.75);
}

.incorrect:focus {
	border-color: rgba(191, 68, 68, 0.75);
	box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
}
.echec{
	color:rgba(191, 68, 68, 0.75);
}
.succes{
	color:rgba(68, 191, 68, 0.75);;
}