h1, h2, h3, h4, h5 {
  font-family: 'Nunito thin', Sans-serif;
}
p, span, a, button, div, section {
  font-family: 'Roboto', Sans-serif;
}

/* Ceci est le titre en haut de la page */
#page-title{
  font-size: 2rem;
  color: #ECF0F1;
  background-color: #E74C3C;
  /*background-image:url(../images/background.jpg);
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;*/
  text-align: center;
  padding: 1.2rem 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
#redbar_height_fix {
  height: 7.15rem;
}
@media screen and (min-width: 321px){
  #redbar_height_fix{
    height: 4.78rem;
  }
}
@media screen and (min-width: 768px){
  #redbar_height_fix{
    height: 5.4rem;
  }
}
.logo {
  width: 3rem;
  position: absolute;
  top:20%;
  left:1rem;
}
.disabled {
  cursor: not-allowed;
}
/*#page-title{
  align-items: center;
}*/