html {
  background: url(http://localhost:8888/rentahouse/images/atterrissage/dakota-timber-bg-flou.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Ceci permets de center horizontalement et verticalement le contenu sur les ecrans de plus de 475px */
#wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Represente le contenu de la page (Boite avec le texte et les boutons ainsi que les formulaires) */
#content {
  margin-top: 9rem;
  padding: 2rem;
  color: #ECF0F1;
  max-width: 50vw;
  min-width: 40vw;
  border-radius: 10px;
  background-color: #2c3e50bf;
}
@media screen and (max-width: 600px) {
  body{
    z-index: 1000;
    background-color: #2c3e50bf;
  }
  #content {
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

#content p:first-child{
  font-size: 2rem;
}