/* Liste des options de gauche*/
#admin_menu{
  position: fixed;
  left: 0;
  height: calc(100vh - 4.78rem);
  background-color: #2C3E50;
}
@media screen and (max-width: 767px){
  #admin_menu{
    position: relative;
    height: auto;
  }
}
#admin_menu > ul > li a{
  color: #ECF0F1;
  padding: 1rem 0 1rem 1rem;
  transition: 0.3s;
}
#admin_menu > ul > li a.active{
  background-color: #2980B9;
}
#admin_menu > ul > li a:not(.active):hover{
  background-color: #243342;
}


/* Contenu de droite */
#content_panel {
  margin: auto;
}
@media screen and (min-width: 768px){
  #content_panel {
    margin-left: 25%;
  }
}
@media screen and (min-width: 992px){
  #content_panel {
    margin-left: 16.666667%;
  }
}