
#contentAppartement{
	padding:20px 0 20px 0;
}
.formulaireAjout h2{
	color: #2980B9;
	text-align: center;
	margin:40px;
}
.correct {
	border-color: rgba(68, 191, 68, 0.75);
}
	
.correct:focus {
	border-color: rgba(68, 191, 68, 0.75);
	box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
}
	
.incorrect {
	border-color: rgba(191, 68, 68, 0.75);
}
	
.incorrect:focus {
	border-color: rgba(191, 68, 68, 0.75);
	box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
}
.echec, .ajoutEchec, .locationNonValide{
	color: rgba(191, 68, 68, 0.75);
}
.ajoutSucces, .locationValide{
	color: rgba(68, 191, 68, 0.75);
}

.detailAppart{
    margin-bottom: 50px;
    border: 2px solid #2C3E50;
    padding: 20px;
    border-radius: 50px 20px;
    box-shadow: 5px 5px #2C3E50;   
}
.position button{
    border-radius: 50px 20px;
    margin:20px;
}

.btnValider button, .btnValider p{
  margin:10px;
  text-align:center;
}
.titreLocation{
  color: #2980B9;
  text-align: center;
  font-size: 2.2em;
}
#retourAppart{
  margin:10px;
}
.dispo button, .louer button{
	margin-bottom:20px;
}

@media screen and (min-width: 425px) {
  
}
