
#contentAppartement{
	padding:20px 0 20px 0;
}
.formulaireAjout h2, .titreLocation{
	color: #2980B9;
	text-align: center;
	margin:40px;
}
.correct {
	border-color: rgba(68, 191, 68, 0.75);
}
	
.correct:focus {
	border-color: rgba(68, 191, 68, 0.75);
	box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
}
	
.incorrect {
	border-color: rgba(191, 68, 68, 0.75);
}
	
.incorrect:focus {
	border-color: rgba(191, 68, 68, 0.75);
	box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
}
.echec, .ajoutEchec, .locationNonValide{
	color: rgba(191, 68, 68, 0.75);
}
.ajoutSucces, .locationValide{
	color: rgba(68, 191, 68, 0.75);
}

.detailAppart{
    margin-bottom: 50px;
    border: 2px solid #2C3E50;
    padding: 20px;
    border-radius: 50px 20px;
    box-shadow: 5px 5px #2C3E50;   
}
.position button{
    border-radius: 50px 20px;
    margin:20px;
}

.btnValider button, .btnValider p{
  margin:10px;
  text-align:center;
}

#retourAppart{
  margin:10px;
}
.dispo button, .louer button{
	margin-bottom:20px;
}


div#slider figure {
  position: relative; 
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
  animation: 30s slidy infinite;
}

div#slider figure img { width: 20%; height: auto; float: left; }

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}
div#slider { width: 30%; max-width: 1000px; overflow: hidden }

.detailLog{
	display:flex;
	justify-content:space-between;
}
.afficheDispo{
	margin:0 auto;
}
.descriptionAppart .titre{
	color: #2980B9;
	font-size:2em;
}
.descriptionAppart .adresse, .aucuneLocation{
	font-weight: bold;
	font-size:1.2em;
}

